{% extends 'layout.html' %}

{% block title %}Error{% endblock %}

{% block content -%}
  <h1>The NHS website is currently experiencing technical difficulties.</h1>
  <p>We are working to resolve these issues. Thank you for your patience.</a></p>
  <p>If you urgently need medical help or advice but it's not a life-threatening situation, call 111 free from any phone to speak to an NHS adviser. The 24-hour NHS 111 service can give you healthcare advice or direct you to the local service that can help you best.</p>
{%- endblock %}